flujo.red
[{"id":"e90b3843.16f4c8","type":"websocket-listener","path":"/ws/bikemsg","wholemsg":"false"},{"id":"298deca0.d67214","type":"function","name":"Reset timers","func":"context.global.timer = [0];\ncontext.global.MAX_BIKES = 5;\n\nfor(var i=0;i<context.global.MAX_BIKES;i++) {\n    context.global.timer[i]=0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":306,"z":"118c48f0.ee73b7","wires":[[]]},{"id":"a8b32d5c.574cd","type":"inject","name":"ResetTimers","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":300,"y":306,"z":"118c48f0.ee73b7","wires":[["298deca0.d67214"]]},{"id":"7a58e037.85a72","type":"ibmiot in","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"bike","eventType":"pedal","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":false,"x":301,"y":186,"z":"118c48f0.ee73b7","wires":[["d0390025.2fc7","30265da8.cfd9a2"]]},{"id":"d0390025.2fc7","type":"function","name":"CollectMessages","func":"var lane=msg.payload.bikeID;\n\nif(isNaN(lane)) {\n    return;\n}\n\n// Make sure you don´t click too fast\nvar now=new Date().getTime();\nif((now-context.global.timer[lane])<200) {\n    node.warn(\"WAIT\");\n    return;\n}\ncontext.global.timer[lane] = now;\n\nmsg.payload.header = {\n    deviceId : msg.deviceId,\n    deviceType : msg.deviceType,\n    eventType : msg.eventType\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":186,"z":"118c48f0.ee73b7","wires":[["4d9de9fd.b26218"]]},{"id":"30265da8.cfd9a2","type":"debug","name":"","active":true,"console":"false","complete":"true","x":504,"y":109,"z":"118c48f0.ee73b7","wires":[]},{"id":"4d9de9fd.b26218","type":"websocket out","name":"","server":"e90b3843.16f4c8","client":"","x":741,"y":186,"z":"118c48f0.ee73b7","wires":[]}]